.page-item-detail {
   background-color: #222;	

  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .detail-image {
	width: 100%;
	height: 300px;
	background-position: center center;
	background-size: cover;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  .detail-content {
	  background-color: #488aff;
	  color: white !important;
  }

  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }
}
